body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("./star.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: #c73b2b;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float: right;
}
.topbar{
  height:32px;
  display: inline;
}

.dancer{
  border:30px solid red;
  border-radius:30px;
  position:absolute;
}

.square{
  border:20px solid rgb(255, 208, 0);
  height:20px;
  width:20px;
  background-color: aqua;
  position:absolute;
}



.heart{
  width:40px;
  position: absolute;
  -webkit-mask:
     radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
     radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
     linear-gradient(to bottom left, red 43%,transparent 43%) bottom left ,
     linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;

  -webkit-mask-size:50% 50%;
  -webkit-mask-repeat:no-repeat;
  mask:
     radial-gradient(circle at 60% 65%, red 64%, transparent 65%) top left,
     radial-gradient(circle at 40% 65%, red 64%, transparent 65%) top right,
     linear-gradient(to bottom left, red 43%,transparent 43%) bottom left ,
     linear-gradient(to bottom right,red 43%,transparent 43%) bottom right;
  mask-size:50% 50%;
  mask-repeat:no-repeat;
  background:linear-gradient(red,rgb(0, 153, 255),yellow,rgb(255, 81, 0),rgb(246, 192, 255));
}
.heart::before {
  content:"";
  display:block;
  padding-top:100%;
}

.big{
  width:70px;
}